.Page88__Container {
  display: flex;
  flex-direction: column;
}

.Page88__Img {
  width: 400px;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .Page88__Img {
    width: 360px;
  }  
}