.Texto-P11 {
  line-height: 1.8;
  text-indent: 25px;
}

.Container-Img-P11 {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.P11-Img {
  width: 250px;
}

.P11 {
  background-color: var(--white-color);
}