.Texto11 {
  line-height: 1.8;
  text-indent: 25px;
}

.Container-Img11 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.Img11 {
  width: 250px;
}

@media screen and (max-width: 480px) {
  .Container-Img11 {
    flex-direction: column;
    width: auto;
  }

  .Img11 {
    width: 300px;
  }
}
