.cdb-marker {
  margin-top: 70px;
}

.cdb-map {
  height: 600px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .cdb-map {
    width: 370px;
    height: 370px;
  }
}

