.Container-Pagina10 {
  width: 100%;
  flex-direction: column;
  display: flex;
  height: 600px;
}

.Texto10 {
  text-align: center;
  font-size: 18px;
}

.Img-Pagina10 {
  width: 100%;
  height: 400px;
}

.Line10 {
  line-height: 1.8;
  text-indent: 25px;
}