.Titulo-Pagina09 {
  width: 100%;
  text-align: center;
}

.Line-Pagina09 {
  line-height: 1.8;
  text-indent: 25px;
}

@media screen and (max-width: 480px) {
  .Titulo-Pagina09 {
    font-size: 18px;
  }
}