.Page138__Container {
  display: flex;
  flex-direction: column;
}

.Page138__Content__Container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.Page138__Text__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Page138__Img {
  width: 300px;
}

.Page138__Text {
  font-size: var(--font-size-18);
  margin-left: 60px;
  margin-top: 200px;
  text-align: center;
}

.Page138__Text--B {
  font-size: var(--font-size-18);
  margin-left: 60px;
}

.Page138__Title--Font {
  font-size: var(--font-size-16);
}

.Page138__Img--Align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Page138__Content__Container {
    flex-direction: column;
    margin-top: 10px;
  }

  .Page138__Img {
    width: 360px;
  }

  .Page138__Text {
    margin-top: 20px;
    margin-left: 0;
  }

  .Page138__Text__Container {
    align-items: center;
  }

  .Page138__Text--B {
    margin-left: 0;
  }
}
