.Container-56 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-56 {
  margin-bottom: 5px;
}

.P-56 {
  text-align: center;
}

.T-56A {
  color: var(--golden-color);
}

.T-56B {
  color: var(--hot-pink-color);
}

.T-56C {
  color: var(--forest-green-color);
}

.T-56D {
  color: var(--deep-pink-color);
}

.T-56E {
  color: var(--royal-blue-color);
}

.T-56F {
  color: var(--orange-red-color);
}

.T-56G {
  color: var(--crimson-color);
}
