.Container-100 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-100 {
  line-height: 1.8;
}

.P-100 {
  background-color: var(--white-color);
  border-bottom: 2px solid black;
}