.Container-85 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-85 {
  line-height: 1.8;
}

h3 {
  background-color: var(--white-color);
}

.P-85 {
  text-align: center;
  font-size: 18px;
}