.Align12 {
  width: 100%;
  text-align: center;
}

.Container-Img12 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: auto;
}

.Img12 {
  width: 260px;
  height: 250px;
}

.Img12B {
  width: 260px;
}

.Margens12 {
  width: 330px;
  height: 270px;
  margin-bottom: 2px;
}

.Legenda12 {
  font-family: var(--font-family-arial);
  font-size: 14px;
  text-align: center;
}

.Container12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rodape12 {
  line-height: 1.8;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .Container-Img12 {
    flex-direction: column;
    align-items: center;
  }

  .Img12 {
    margin-bottom: 10px;
  }
}