.Container-65 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-65 {
  line-height: 1.8;
}

.Paragrafo-65 {
  border-bottom: 2px solid black;
}

.Img-65 {
  background-color: var(--white-color);
  align-self: center;
}

.P-65 {
  background-color: yellow;
}

.T-65B {
  text-align: center;
}