.Page05__Text {
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-18);
}

.Page05__Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 210px;
}

.Page05__Img__Container {
  width: 350px;
  height: 245px;
  margin-right: 5px;
}

.Page05__Img {
  width: 100%;
  height: 245px;
}
