.Container-43 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.T43 {
  font-size: 18px;
  text-align: center;
}

.Img-43 {
  width: 430px;
  height: 320px;
}

.T-43 {
  line-height: 1.8;
}