.T38 {
  font-size: 18px;
  text-align: center;
}

.Container-38 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T38B {
  font-size: 15px;
  text-align: center;
  background-color: yellow;
  width: 100%;
}

b {
  font-size: 14px;
}

.P38 {
  line-height: 1.8;
}
