.Container-93 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-93 {
  line-height: 1.8;
}

.C-93 {
  border-bottom: 2px solid black;
  background-color: var(--white-color);
}