.Container-81 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.Container-Img-81 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white-color);
}

.Img-81 {
  width: 180px;
}

.T-81 {
  line-height: 1.8;
}