.Container-61 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-61 {
  line-height: 1.8;
}

.Img-61 {
  width: 330px;
  align-self: center;
}

.Img-61B {
  width: 560px;
  height: 130px;
  align-self: center;
}