.Container-92 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.N-92 {
  border-bottom: 2px solid black;
}

.T-92 {
  line-height: 1.8;
}

.S-92 {
  background-color: var(--white-color);
  border-bottom: 2px solid black;
}

.C-92 {
  font-size: 16px;
  background-color: yellow;
}