.Container-63 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.P-63 {
  border-bottom: 2px solid black;
}

.T-63 {
  line-height: 1.8;
}

.C-63 {
  background-color: yellow;
}