.Page51__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page51__Img--A {
  width: 400px;
  height: 360px;
}

.Page51__Img--B {
  width: 500px;
  height: 280px;
}

.Page51__Text--Align {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .Page51__Img--A {
    width: 310px;
    height: 380px;
  }  

  .Page51__Img--B {
    width: 310px;
    height: 230px;
  }
}