.Page81__Container {
  display: flex;
  flex-direction: column;
}

.Page81__Img__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Page81__Img {
  width: 180px;
}

@media screen and (max-width: 480px) {
  .Page81__Img__Container {
    flex-direction: column;
    align-items: center;
  }  

  .Page81__Img {
    width: 300px;
    margin-bottom: 15px;
  }
}
