.Container-109 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.T-109 {
  line-height: 1.8;
}

.C-109 {
  background-color: var(--white-color);
  border-bottom: 2px solid black;
}

.D-109 {
  background-color: yellow;
}