.Container-69 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.P-69 {
  font-size: 20px;
  text-align: center;
}

.P-69B {
  background-color: var(--white-color);
  border-bottom: 3px solid black;
}

.T-69 {
  line-height: 1.8;
}