.Container-50 {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Img-50 {
  width: 250px;
  height: 320px;
}

.T-50 {
  line-height: 1.8;
}

.Img-Container-50 {
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
  justify-content: space-around;
}

.Img-50B {
  width: 270px;
  height: 150px;
}


